@tailwind base;
@tailwind components;
@tailwind utilities;

#logo {
    @apply font-bold bg-indigo-600 px-2 py-1 rounded text-white text-lg;
}
[x-cloak] { display: none !important; }

.lazy-img {
    filter: blur(8px);
    transition: filter 0.3s ease-in;
}

.lazy-picture[data-loaded] .lazy-img { filter: unset; }



.spinner {
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
    
    & .path {
      stroke: hsl(210, 70, 75);
      stroke-linecap: round;
      animation: dash 1.5s ease-in-out infinite;
    }
    
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }
  
  